.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.input-form {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 0;
}

.input-label {
  flex: 1;
  font-weight: bold;
  color: #555;
}

.input-fields {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.input-fields label {
  margin-bottom: 5px;
}

.input-fields input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.calculate-button,
.save-button,
.reset-filters-button,
.delete-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px 0;
}

.calculate-button:hover,
.save-button:hover,
.reset-filters-button:hover,
.delete-button:hover {
  background-color: #0056b3;
}

.result-section,
.average-section {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result-section p,
.average-section p {
  margin: 5px 0;
}

.results-table,
.numbers-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.results-table th,
.results-table td,
.numbers-table th,
.numbers-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.results-table th,
.numbers-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.result-item,
.number-item {
  background-color: #fff;
}

.number-message {
  color: red;
  font-weight: bold;
}

.average-value {
  font-style: italic;
  color: #777;
}

.button-group {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.out-of-laminarity {
  color: red;
  
}